<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel ="stylesheet" th:href="@{main.css}"></link>
</head>
<body>
    <h1 th:text="${_.get('Single_Title')}"></h1>
    <h2 th:text="${_.get('TourName')}"></h2>
    <p th:text="${tour.getName()}"></p>
    <h2 th:text="${_.get('Description')}"></h2>
    <p th:text="${tour.getDescription()}"></p>
    <h2 th:text="${_.get('From')}"></h2>
    <p th:text="${tour.getFrom()}"></p>
    <h2 th:text="${_.get('To')}"></h2>
    <p th:text="${tour.getTo()}"></p>
    <h2 th:text="${_.get('Distance')}"></h2>
    <p th:text="${tour.getDistance()}"></p>
    <h2 th:text="${_.get('EstTime')}"></h2>
    <p th:text="${tour.getFormattedTime()}"></p>
    <h2 th:text="${_.get('TransportType')}"></h2>
    <p th:text="${tour.getTransportType()}"></p>
    <h2 th:text="${_.get('RouteInfo')}"></h2>
    <p th:text="${tour.getRouteInfo()}"></p>
    <img th:src="*{'data:image/png,base64,'+ tour.getImage()}"/>
</body>
</html>